<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <header>
    <p>Crowdfunding Web App</p>
    </header>
    <main>
        {{{body}}}
    </main>
    
    <script src="/public/js/signin.js"></script>
    <script src="/public/js/register.js"></script>
</body>
</html>