body{
    background-color: #d0dffc;
     
}
.div-box1{
    border: solid 1px red;
    max-width: 720px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 200px;
    background-color: white;

    
}

.para{
    max-width: 720px;
    margin: 0 auto;
}
.heading{
    font-weight: bold;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    

}
ul.error-list{
    list-style-type: square;
}

.div-box2{
    border: solid 1px red;
    max-width: 720px;
    height: 740px;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 200px;
    background-color: white;
    margin-top: 20px;
    overflow: auto;
}
.common-label{
    color: black;
}
.common-div{
    margin-right: 110px;
   
   
}

.form-div{
    margin-bottom: 60px;
}

.div-box3{
    border: solid 1px red;
    max-width: 720px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 200px;
    background-color: white;
    overflow: auto;
    
}
.head-div{
    width: 400px;
    top: 0;
    position: absolute;
    font-family: 'Bangers', cursive;
    color: black;
}

.div-text{
    color: black;

}

article p {
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
    font-size: 18px;
}

.link-styles{
    font-family: 'Fredoka One', cursive;
    color: black;
}
.link-style{
    color: black;
}


