body{
    background-color: #e9ecef;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.div-box1{
    border: solid 1px red;
    max-width: 720px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 80px 80px 80px 200px;
    background-color: white;


}

.para{
    max-width: 720px;
    margin: 0 auto;
}
.heading{
    font-weight: bold;
    text-align: center;

}
ul.error-list{
    list-style-type: square;
}

.div-box2{
    border: solid 1px red;
    max-width: 720px;
    height: 740px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 80px 80px 80px 200px;
    background-color: white;
    margin-top: 100px;
    overflow: auto;
}
.common-label{
    color: black;
}
.common-div{
    margin-right: 110px;


}

.form-div{
    margin-bottom: 60px;
}

.div-box3{
    border: solid 1px red;
    max-width: 720px;
    height: 620px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 80px 80px 80px 200px;
    background-color: white;
    overflow: auto;
    margin-top: 20px;
}
.head-div{
    width: 400px;
    top: 0;
    position: absolute;
    font-family: 'Bangers', cursive;
    color: black;
}

.div-text{
    color: black;

}

article p {
    font-weight: bold;
    font-size: 16px;
}

.link-styles{
    font-family: 'Fredoka One', cursive;
    color: black;
}
.link-style{
    color: black;
}
.project-center{
    text-align: center;
}

.right {
    float: right;
    width: 300px;
    border: 1px solid #73AD21;
    padding: 10px;
    margin-top: -350px;
    height: 210px;
    position: fixed;
    bottom: 90px;
    right:80px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.unordered-main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

ul.unordered-main li{
    float: left;
}

ul.unordered-main li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.unordered-main li a:hover {
    background-color: #111;
}

#is-project-active {
      color: red;
}

#donation-successful {
     color: #73AD21;
}

#register-button {
    background-color: #ffffff;
    color: #0072ee;
}

.back-button {
    background-color: #ffffff;
    color: #0072ee;
}

#project-location {
    color: green;
}