<article class="new-project">
    <div class="row">
        <div class="col-sm-12 div-box3">
            <div class="head-div">
                <h3>Create your own project</h3>
            </div>
            <form action="/projects" method="POST" class="new-project-form" id="new-project-form">
                <div class="form-group">
                    <label for="title">Project Title:</label>
                    <input type="text" name="title" id="title" value="{{project.title}}"
                        class="full-width-input form-control" />
                    <div id="no-title"  hidden>Please enter the project title</div>
                </div>
                <div >
                    <label for="category">Category:</label>
                    <select id="category" name="category">
                        <option value="medical" selected>Medical</option>
                        <option value="education">Education</option>
                        <option value="animals">Animals</option>
                        <option value="business">Business</option>
                        <option value="community">Community</option>
                        <option value="sports">Sports</option>
                        <option value="travel">Travel</option>
                        <option value="volunteer">Volunteer</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="goal">Pledge Goal:</label>
                    <input type="number" name="goal" id="goal" class="full-width-input form-control" />
                    <div id="no-goal"  hidden>Please enter the project pledge goal</div>
                    <div id="invalid-amount"  hidden>Pledge goal should be greater than zero</div>
                    <div id="invalid-type" hidden>Pledge goal needs to be a number</div>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea name="description" id="description" rows="4"
                        class="full-width-input form-control">{{project.description}}</textarea>
                    <div id="no-description"  hidden>Please enter the project description</div>
                </div>
                <br>
                <button type="submit" class="btn btn-success">Publish</button>
                <button type="reset" class="btn btn-success">Clear Form</button>
            </form>
        </div>
    </div>
    {{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</article>