<article class="new-project">
    <h1>Make my project</h1>
    <form action="/projects" method="POST" class="new-project-form" id = "new-project-form">
        <label for="title">Project Title:</label>
        <input type="text" name="title" id="title" value="{{project.title}}" class="full-width-input"/><br>
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="medical" selected>Medical</option>
            <option value="education">Education</option>
            <option value="animals">Animals</option>
            <option value="business">Business</option>
            <option value="community">Community</option>
            <option value="sports">Sports</option>
            <option value="travel">Travel</option>
            <option value="volunteer">Volunteer</option>
        </select><br>
        <label for="goal">Pledge Goal:</label>
        <input type="number" name="goal" id="goal" class="full-width-input"/><br>
        <label for="description">Description:</label>
        <textarea name="description" id="description" rows="4" class="full-width-input">{{project.description}}</textarea><br>
        <button type="submit">Publish</button><br>
        <button type="reset">Clear Form</button>
    </form>
    <ul class="error-list">
        <li id="no-title" hidden>Please enter the project title</li>
        <li id="no-goal" hidden>Please enter the project pledge goal</li>
        <li id="invalid-amount" hidden>Pledge goal should be greater than zero</li>
        <li id="no-description" hidden>Please enter the project description</li>
    </ul>
    {{#if hasErrors}}
        <ul class="error-list">
            {{#each errors}}
                <li>
                    {{this}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
</article>