{{#if result}}
<p>{{result}}</p>
{{/if}}
<p>This is just a temp page to show the result from server, may change later, now just to make sense for testing</p>
<a href="/projects/{{projectid}}">Back To The Project</a>