<div>
    <h2>Search</h2>
    <form action="/projects/searchResult" method="POST" class="search-form" id = "search-project-form">
        <label for="category">By Category:</label>
        <select id="category" name="category">
        <option value="<blank>"><Blank></Blank></option>
        <option value="medical">Medical</option>
        <option value="education">Education</option>
        <option value="animals">Animals</option>
        <option value="business">Business</option>
        <option value="community">Community</option>
        <option value="sports">Sports</option>
        <option value="travel">Travel</option>
        <option value="volunteer">Volunteer</option>
        </select><br>
        <p>By Pledge Goal:</p>
        <label for="from">From:</label>
        <input type="number" name="from" id="from" class="full-width-input"/>
        <label for="to">To:</label>
        <input type="number" name="to" id="to" class="full-width-input"/><br>
        <p>By Colleted Money://Is this make sense for a user who wants to have donaton?Why a user wants to know these projects which has specified colleted</p>
        <button type="submit">Search</button><br>
    </form>
</div>
<ul class="error-list">
    <li id="no-category" hidden>Please select a category or enter numbers</li>
    <li id="from>to" hidden>The number in To should larger than From</li>
    <li id="invalid-from" hidden>Please enter postivie number in from</li>
    <li id="invalid-to" hidden>Please enter postive number in to</li>
</ul>
{{#if hasErrors}}
    <ul class="error-list">
        {{#each errors}}
            <li>
                {{this}}
            </li>
        {{/each}}
    </ul>
 {{/if}}
<a href="/projects">Back to All Projects</a>