<div>
    <h2>Search</h2>
    <form action="/projects/searchResult" method="POST" class="search-form" id = "search-project-form">
        <label for="category">By Category:</label>
        <select id="category" name="category">
        <option value="medical">Medical</option>
        <option value="education">Education</option>
        <option value="animals">Animals</option>
        <option value="business">Business</option>
        <option value="community">Community</option>
        <option value="sports">Sports</option>
        <option value="travel">Travel</option>
        <option value="volunteer">Volunteer</option>
        </select><br>
        <p>By Pledge Goal:</p>
        <p>By Colleted Money:</p>
        <button type="submit">Search</button><br>
    </form>
</div>