
<div class="row">
    <div class="col-sm-12 div-box1">
        <form action="/users/signin" method="POST" id="signin-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" class="full-width-input form-control" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="full-width-input form-control" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-success">Sign In</button>
            <a href="/users/register">Register</a>
        </form>
        <br>
        <br>
        <ul class="error-list list-group list-group-flush">
            <li id="no-email"  hidden>Please enter your email</li>
            <li id="no-password"  hidden>Please enter your password</li>
        </ul>
    </div>
</div>
<br>

{{#if hasErrors}}
<ul class="error-list">
    {{#each errors}}
    <li>
        {{this}}
    </li>
    {{/each}}
</ul>
{{/if}}
</div>